/* 
  SECTIONS NAVIGATION : CTRL+F "=="
  RSPONSIVE'S SECTIONS NAVIGATION : CTRL+F "++"
  BREAK POINTS : 
 */

/* ------- == BASIC SECTIONS ------- */

* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body > div > * {
  margin: 0px;
}

body > div > *:nth-child(2) {
  margin: 10px 0px;
}

.text-center {
  text-align: center;
}

h3 {
  font-size: xx-large;
  margin: 0px;
}

h4 {
  margin: 0px;
  font-size: 18px;
}

ul {
  list-style: none;
  margin-left: -40px;
}

li {
  line-height: 28px;
}

.btn {
  display: inline-block;
  background-color: blueviolet;
  padding: 20px 30px;
  margin: 15px 0px;
  border-radius: 50px;
}

/* ------- MARGIN / PADDING / RADIUS ------- */

.margin-reset {
  margin: 0px;
}

.margin-r-10 {
  margin-right: 10px;
}

.margin-r-20 {
  margin-right: 20px;
}

.margin-container {
  margin: 20px 0px;
}
.p-40 {
  padding: 40px;
}

.p-xsmall {
  padding: 15px;
}

.p-section {
  padding: 40px 20px;
}

.radius-s {
  border-radius: 20px;
}

.radius-m {
  border-radius: 25px;
}

.radius-top-s {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px
}

/* ------- BACKGROUND & COLOR------- */

.bg-white {
  background-color: white;
}

.bg-grey-light {
  background-color: lightgray;
}

.bg-grey {
  background-color: gray;
}

.bg-dark {
  background-color: #474747;
}

.font-white {
  color: white;
}

/* ------- == HEADER ------- */

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
margin: auto;
padding: 20px 0px;
}

/* ------- == FUNCTIONNEMENT'S SECTION ------- */

.raw-container div:nth-child(2) {
  margin-top: 30px;
  margin-bottom: 30px;
}

.raw {
  display: flex;
  position: relative;
  margin-left: 10px;
  height: 70px;
}

#functionnement .raw p:first-child {
  position: absolute;
  top: 8px;
  left: -10px;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  font-size: smaller;
  background-color: blueviolet;
  padding: 5px;
  text-align: center;
  color: white;
}

#functionnement .raw p:nth-child(2) {
  width: 20px;
  text-align: center;
  font-size: large;
  margin: auto 20px auto 35px;
}

#functionnement .raw p:nth-child(3) {
  font-weight: bold;
  margin: auto 0px;
}

/* ------- == RESTAURANT'S SECTION ------- */

.card-container {
  display: flex;
  flex-direction: column;
  row-gap :20px;
}

.card-container a {
  text-decoration: none;
  color: black;
}

.card {
  width: 100%;
  position: relative;
}

.card img {
  height: 170px;
  width: 100%;
  object-fit: cover;
}

.card-text {
  line-height: 24px;
}

.card-text > * {
  margin: 0px;
}

.new {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 4px;
  background-color: lightgreen;
}

.new p {
  margin: 0px;
  color: green;
  padding: 5px 10px;
  font-weight: bold;
}

.like {
  position: absolute;
  bottom: 30px;
  right: 25px;
  font-size: x-large;
  cursor:pointer;
}

/* ------- == FOOTER ------- */

footer {
  padding: 20px;
}

.text-logo {
  font-family: 'Shrikhand', cursive;
  font-size: x-large;
}

.footer-icone {
  display: inline-block;
  width: 20px;
  font-size: 14px;
}